extends layout
block navigation
	.ui.attached.header
		nav.ui.four.item.menu
			a.header.item(style="font-size:1.5em; padding: 0.45em 0.5em;" href="/") Home
			a.active.item(style="font-size:1.5em; padding: 0.45em 0.5em;" href="/area") Inventory
			a.item(style="font-size:1.5em; padding: 0.45em 0.5em;" href="/reports") Reports
			a.item(style="font-size:1.5em; padding: 0.45em 0.5em;" href="/reader") Reader
block content
	#info.ui.container.segment
		.ui.fluid.grid
			.six.wide.column
				h2 Areas 
			.six.wide.right.aligned.column
				.ui.areas.search
					.ui.icon.input
						input(class="prompt" type="text" placeholder="Search areas...")
						i.search.icon
					.results
			.four.wide.right.aligned.column
				button.ui.blue.button(onClick="showModal()") Add New Area
		.ui.modal
			i.close.icon
			.header	Add New Area..
			.description &nbsp&nbsp&nbspPlease enter the path to the .CSV file directory&nbsp&nbsp&nbsp
				.ui.input.focus
					input(type="text" placeholder="Path")
			.actions
				.ui.button Add
		script.
			function showModal()	{
				$('.ui.modal')
				  .modal({blurring: true})
				  .modal('show')
				;
			}
			
		.ui.divider
		#areas.ui.internally.celled.left.aligned.grid
			each area in areas
				.row
					a.item(style="font-size:1.5em;" href='/area/'+area.DISTINCT)=area.DISTINCT		