extends layout

block content
	h1 Welcome to RFID Highway Application
	#menu.ui.three.item.menu
	a.item(href="inventory") Inventory
	a.item(href="Something") Something
	a.active.item(href="reader") Reader
