extends layout
block navigation
	.ui.top.attached.tabular.menu(style="margin-top:0.4em; margin-left:0.4em")
		a.active.item(style="background-color: rgba(150,150,150,0.5); font-size:1.6em; padding: 0.45em 2.5em;" href="/") Home
		a.item(style="font-size:1.6em; padding: 0.45em 2.5em;" href="/inventory") Inventory
		a.item(style="font-size:1.6em; padding: 0.45em 2.5em;" href="/reports") Reports
block content
		#info.ui.container.segment(style="margin-top:5%;")
			h2.ui.header Welcome to RFID Highway Application
			p(style="font-size:1.2em") This software is designed to assist in the monitoring and maintenance of road signs as you drive along the highway. To get started touch the buttons along the top of the screen, or read the instructions below in each tab.
			.ui.large.steps(style="width:100%;")
				a.link.step(href="/inventory")
					i.tags.icon
					.content
						h2.title Inventory
						.description(style="font-size:1.2em") Manage & Scan RFID Tagss
				a.link.step(href="/reports")
					i.file.text.icon
					.content
						h2.title Reports
						.description(style="font-size:1.2em") View or Print reports