extends layout
block navigation
	.ui.top.attached.tabular.menu(style="margin-top:0.4em; margin-left:0.4em")
		a.item(style="font-size:1.6em; padding: 0.45em 2.5em;" href="/") Home
		a.active.item(style="background-color: #2185D0; color: #FFFFFF; font-size:1.6em; padding: 0.45em 2.5em;" href="/inventory") Inventory
		a.item(style="font-size:1.6em; padding: 0.45em 2.5em;" href="/reports") Reports
		.right.menu
			a.item(style="font-size:1.3em; padding: 0.2em .2em;" href="/")
				b Back  
					i.large.sign.out.icon
			if "ACTIVE"==reader.status
				a.item(style="font-size:1.3em; padding: 0.2em .2em;" href="/scanner/"+reader.location)
					i.large.blue.spinner.loading.icon
	if success
		.ui.small.positive.message
			h3= success
	if error
		.ui.small.negative.message
			h3= error
block content
	#info.ui.container.segment
		.ui.fluid.grid
			.twelve.wide.column
				h2 Locations
			.four.wide.right.aligned.column
				button.ui.blue.button(onclick="showModal()") New Location
		.ui.modal
			i.close.icon
			.header	New Location 
				i.upload.icon
			.description
				form#new_location(method="post" action="/inventory/newLocation" encType="multipart/form-data").ui.form
					h3 
						label(for="payload") Select CSV file: 
						input#payload(type="file" name="new_location_file" accept=".csv")
			.actions
					button.ui.positive.right.labeled.icon.button#upload(onclick="document.getElementById('new_location').submit()") Upload
						i.checkmark.icon
		script.
			function showModal()	{
				$('.ui.modal')
				  .modal({blurring: true})
				  .modal('show');
			}
		.ui.divider

		#areas.ui.internally.celled.left.aligned.grid
			each area in areas
				.row
					.left.floated.left.aligned.seven.wide.column
						p(style="font-size:1.3em;")=area.DISTINCT	
					.right.floated.center.aligned.four.wide.column
						button.ui.labeled.icon.blue.button(onclick="location.href='/inventory/"+area.DISTINCT+"'") Open
							i.folder.open.outline.icon
					.right.floated.center.aligned.five.wide.column
						if "ACTIVE"==reader.status 
							if reader.location==area.DISTINCT
								button.ui.labeled.icon.blue.button(onclick="location.href='/scanner/"+area.DISTINCT+"'") Scanning..
									i.play.icon
							else
								button.ui.labeled.icon.blue.button(onclick="location.href='/scannerInit/"+area.DISTINCT+"'") Scan
									i.play.icon
						else
							button.ui.labeled.icon.blue.button(onclick="location.href='/scannerInit/"+area.DISTINCT+"'") Scan
								i.play.icon