doctype html
html(lang="en")
	head
		title RFID Highway Application
		block stylesheet
			link(rel='stylesheet', type="text/css" ,href='/semantic-ui/semantic.css')
		block scripts
			script(src="/semantic-ui/jquery-2.1.4.min.js")
			script(src='/semantic-ui/semantic.js', type="text/javascript")
	body
		block navigation
		block content
		block footer
