extends layout
block append scripts
	script(src='/socket.io/socket.io.js')
	script(src='/javascripts/reader.js')
block append stylesheet
	link(rel='stylesheet', type="text/css" ,href='/stylesheets/style.css')
block navigation
	.ui.raised.segments
		.ui.segment
			.ui.four.column.relaxed.divided.grid
				.column
					if 0==view.status
						button.blue.fluid.ui.button(style="font-size:1.5em; padding: 0.45em 0.5em;" id='status') Start
					else
						button.blue.fluid.ui.button(style="font-size:1.5em; padding: 0.45em 0.5em;" id='status') Stop
				.column
					button.blue.fluid.ui.button(style="font-size:1.5em; padding: 0.45em 0.5em;" id='settings') Settings
				.column
					button.blue.fluid.ui.button(style="font-size:1.5em; padding: 0.45em 0.5em;" id='save') Save
				.save.ui.small.test.modal
					i.close.icon
					.header	Save current Log
					.description &nbsp&nbsp&nbspPlease enter a prefix for the log &nbsp&nbsp&nbsp
						.ui.input.focus
							input(type="text" id="logName" placeholder="FileName_")
					.actions
						.ui.positive.icon.button Save
				.column
					button.blue.fluid.ui.button(style="font-size:1.5em; padding: 0.45em 0.5em;" id='back') Back
		if view.controls
			#advanced_controls.ui.internally.celled.grid.segment
				.row
					.two.wide.column
						.ui.header GPS Range
					.two.wide.column
						input(id="gps_range" type="range" min="0" max="100" value="0" step="1")
		.err.ui.basic.modal
			.header	ERROR : RFID reader connection lost ! Check connections.
			.actions
				button.ui.right.labeled.icon.button(onclick="location.href='/inventory'") Back
					i.right.arrow.icon 
						
block content
	#sign_container
		#loadingScreen.ui.segment
			.ui.active.dimmer
				.ui.text.loader Loading...
		#signs.ui.one.stackable.cards
			#sign1.card(style="background:rgba(200, 200, 200,0.75);")
				img.ui.fluid.image(id="image1" src="/images/load.gif" style="max-height:100%")
			#sign2.card(style="background:rgba(200, 200, 200,0.75);")
				img.ui.fluid.image(id="image2" src="/images/load.gif" style="max-height:100%")
			#sign3.card(style="background:rgba(200, 200, 200,0.75);")
				img.ui.fluid.image(id="image3" src="/images/load.gif" style="max-height:100%")
			#sign3.card(style="background:rgba(200, 200, 200,0.75);")
				img.ui.fluid.image(id="image4" src="/images/load.gif" style="max-height:100%")
				
				