extends layout
block append scripts
	script(src='/socket.io/socket.io.js')
	script(src='/javascripts/scanner.js')
block append stylesheet
	link(rel='stylesheet', type="text/css" ,href='/stylesheets/style.css')
block navigation
	#navigation.ui.raised.segments.transition.hidden
		.ui.segment
			.ui.four.column.relaxed.divided.grid
				if 0==reader.status
					.column
						button.blue.fluid.ui.button(style="font-size:1.5em; padding: 0.45em 0.5em;" id='status') Resume
				else
					.column
						button.blue.fluid.ui.button(style="font-size:1.5em; padding: 0.45em 0.5em;" id='status') Pause
				.column
					button.blue.fluid.ui.button(style="font-size:1.5em; padding: 0.45em 0.5em;" id='settings' onclick="toggleSettings()") Settings  
				.column
					button.blue.fluid.ui.button(style="font-size:1.5em; padding: 0.45em 0.5em;" id='save') Save
				.save.ui.small.test.modal
					i.close.icon
					.header	Save current Log
					.description &nbsp&nbsp&nbspPlease enter a prefix for the log &nbsp&nbsp&nbsp
						.ui.input.focus
							input(type="text" id="logName" placeholder="FileName_")
					.actions
						.ui.positive.icon.button Save
				.column
					button.blue.fluid.ui.button(style="font-size:1.5em; padding: 0.45em 0.5em;" id='exit') Back
	.err.ui.basic.modal
		.header	ERROR : RFID reader connection lost ! Check connections.
		.actions
			button.ui.ok.right.green.icon.button(id='reconnect') Re-Connect
			button.ui.cancel.right.red.labeled.icon.button Back
				i.right.arrow.icon
	#settings_segment.ui.segment.transition.hidden(style="margin-left:10%; width:80%;")
		.ui.center.aligned.two.column.grid 
			.column 
				.ui.toggle.checkbox.disabled
					input(type="checkbox" disabled="disabled" name="public" id="more_info")
					label More info
			.column
				.ui.toggle.checkbox
					input(type="checkbox" name="public" id="fullscreen")
					label Full Screen
	script.
		function toggleSettings()	{	
			$('#settings_segment').transition('scale');
		}
		$('#fullscreen').click(function ()	{
			$('#settings_segment').transition('scale');
			if((document.fullscreenElement && document.fullScreenElement !== null) || (!document.mozFullScreen && !document.webkitIsFullScreen))	{
				if (document.documentElement.requestFullScreen)	{
					document.documentElement.requestFullScreen();
				} else if (document.documentElement.mozRequestFullScreen)	{
					document.documentElement.mozRequestFullScreen();	
				} else if (document.documentElement.webkitRequestFullScreen)	{
					document.documentElement.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);	
				}
				$('#sign_container').trigger('click');
			} else	{
				if (document.cancelFullScreen)	{
					document.cancelFullScreen();
				} else if (document.mozCancelFullScreen)	{
					document.mozCancelFullScreen();
				} else if (document.webkitCancelFullScreen)	{
					document.webkitCancelFullScreen();
				}
			}
		});
block content
	#sign_container
		#twoSign.ui.grid.transition.hidden(style="margin:1%;")
			#sign21.eight.wide.column
				.ui.raised.text.container.segment(id="sign21_asset" style="width:100%; height:100%;")
					center(style="font-size:2em") Seen Tags
					p
					center(id="seen_tags" style="font-size:9em") 000
			#sign22.eight.wide.column
				.ui.raised.text.container.segment(id="sign21_asset" style="width:100%; height:100%;")
					center(style="font-size:2em") Remaining Tags
					p
					center(id="rem_tags" style="font-size:9em") 000
		