extends layout
block navigation
	.ui.attached.header
		nav.ui.four.item.menu
			a.header.item(style="font-size:1.5em; padding: 0.45em 0.5em;" href="/") Home
			a.active.item(style="font-size:1.5em; padding: 0.45em 0.5em;" href="/area") Inventory
			a.item(style="font-size:1.5em; padding: 0.45em 0.5em;" href="/reports") Reports
			a.item(style="font-size:1.5em; padding: 0.45em 0.5em;" href="/reader") Reader
block content
	#info.ui.segment
		.ui.fluid.grid
			.eight.wide.column
				h2=area
			.four.wide.right.aligned.column
				.ui.areas.search
					.ui.icon.input
						input(class="prompt" type="text" placeholder="Search tags...")
						i.search.icon
					.results
			.four.wide.right.aligned.column
				button.ui.blue.button Add New Tag
		.ui.divider
		table.ui.celled.striped.table(id="tags")
			thead
				tr
					th.five.wide RFID Tag
					th.four.wide Address
					th.three.wide Sign					
					th.two.wide Latitude
					th.two.wide Longitude
			tbody
				each tag in tags
					tr
						td: a.item(href='/area/tagEdit/'+tag.tagId)=tag.tagId
						td: =tag.address
						td: =tag.signType
						td: =tag.lat
						td: =tag.lon