body	{
	overflow-y: hidden;
}

#sign_container	{
	padding: 1%;
	height: 85%;
}

#advanced_controls	{
	padding: 1%;
	height: 5%;
}

#loadingScreen	{
	padding: 1%;
	height: 100%;
}
#signs	{
	height: 100%
}

#sign1 {
	padding: 3%;
	justify-content: center;
	height: 100%
}

#sign2 {
	padding: 3%;
	justify-content: center;
	height: 100%
}

#sign3 {
	padding: 3%;
	justify-content: center;
	height: 100%
}