body	{
	overflow-y: hidden;
}

#sign_container	{
	margin:1%;
	height: 100%;
}

#advanced_controls	{
	padding: 1%;
	height: 5%;
}

#loadingScreen	{
	padding: 1%;
	height: 100%;
}
#oneSign,#twoSign,#threeSign,#fourSign	{
	height: 100%;
}

#sign11,#sign21,#sign22,#sign31,#sign32,#sign33,#sign41,#sign42,#sign43,#sign44 {
	padding: 1%;
	height: 90%;
}

.image img {
	display: block;
}